[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Nicole
	email = ks2225@protonmail.com
	signingkey = 9C3C053183FC138C
[color]
	ui = auto
[commit]
	gpgsign = true
